<ion-header>
  <div>
    <img src="assets/images/Pricetrol Logo.png" />
  </div>
</ion-header>

<ion-content>
  <button class="btn" expand="block" (click)="toMapPage()">
    <ion-icon class="icon" name="compass"></ion-icon>
    <p>MAPS</p>
    <a style="color: #f69e7b">Find the nearest petrol station</a>
  </button>

  <button expand="block" (click)="toFavouritePage()">
    <ion-icon class="icon" name="star"></ion-icon>
    <p>FAVOURITE</p>
    <a style="color: #f69e7b">Check your favourite list</a>
  </button>

  <button expand="block" (click)="toProfilePage()">
    <ion-icon class="icon" name="person"></ion-icon>
    <p>PROFILE</p>
    <a style="color: #f69e7b">Your personal information</a>
  </button>

  <button expand="block" (click)="toSettingsPage()">
    <ion-icon class="icon" name="cog"></ion-icon>
    <p>SETTINGS</p>
    <a style="color: #f69e7b">Notification, Appearance, Privacy </a>
  </button>

  <button expand="block" (click)="toContactusPage()">
    <ion-icon class="icon" name="call"></ion-icon>
    <p>CONTACT US</p>
    <a style="color: #f69e7b">Contact our customer support</a>
  </button>

  <button class="btn2" expand="block" (click)="toTermsConditionsPage()">
    <ion-icon class="icon" name="document"></ion-icon>
    <p>Terms & Conditions</p>
    <a style="color: #f69e7b"> Our terms and conditions policy</a>
  </button>
</ion-content>

<ion-toolbar> </ion-toolbar>
