<header>
  <ion-toolbar>
    <div class="titlebar">
      <ion-icon class="ionicon" name="document"></ion-icon>
      <p class="text">Term & Condition</p>
      <button class="btn2" (click)="toMorePage()">
        <ion-icon class="backbutton" name="arrow-back-outline"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</header>

<ion-content class="ion-text-justify ion-padding">
  <ion-label color="dark" class="ion-padding">
    <h4>
      <b
        >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, quas
        similique sequi at sed odit nulla laboriosam blanditiis dolore, culpa
        doloribus consequatur dicta enim placeat quasi inventore ipsum a
        excepturi!</b
      >
    </h4>
  </ion-label>
</ion-content>
